{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Exum</title>
        <meta name="description" content="Descubre productos innovadores y en tendencia con envío rápido y pago contra entrega. Compra fácil, seguro y sin complicaciones.">

        <!-- Tags OG para compartir-->
        <meta property="og:title" content="Exum | Innovación y estilo en un solo lugar">
        <meta property="og:description" content="Productos únicos que mejoran tu día a día. Compra fácil, rápido y seguro.">
        <meta property="og:image" content="{% static 'tienda/img/apple-touch-icon.png' %}">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:type" content="website">

        <!-- Favicon-->
        <link rel="icon" type="image/png" href="{% static 'tienda/img/faviconExum-32x32.png' %}">

        <!-- Font Awesome CSS -->
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" as="style">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Fuente Cinzel de Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

        <!-- slick css-->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

        <!-- Estilos -->
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'tienda/css/main.css' %}">
    </head>

    <body>
        <!-- Componente react background -->
        <div id="floatinglines-background"></div>

        <!-- Bloqueo Overlay-->
        <div id="age-verifier">
            <section id="parallax-container">

                <div id="galaxy-background"></div>            

                <!-- <img src="{% static 'tienda/img/fondo.webp' %}" alt="Fondo" class="parallax-img-1" width="375" height="667" loading="eager" fetchpriority="high"> -->

                <img src="{% static 'tienda/img/moon.webp' %}" alt="luna" class="parallax-img-2" width="375" height="211" loading="eager" fetchpriority="high">

                <img src="{% static 'tienda/img/mountain.webp' %}" alt="montaña" class="parallax-img-3" width="375" height="667" loading="lazy">

                <img src="{% static 'tienda/img/road-2.webp' %}" alt="road" class="parallax-img-4" width="375" height="667" loading="lazy">

                <h2 id="text">Exum</h2>
            </section>

            <div class="age-verifier-spacer">
                <button id="verify-button">Bienvenidos</button>
            </div>
        </div>

        <div id="main-site-content" style="display: none;">
            
            <!-- Barra de navegación-->
            <header class="header loaded">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <a class="navbar-brand" href="{% url 'inicio' %}">
                            <img src="{% static 'tienda/img/Exum.png' %}" alt="Exum" class="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">

                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#Nuestras-Categorías">
                                        Categorías
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Productos
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for categoria in categorias %}
                                            <li>
                                                <a class="dropdown-item" href="{% url 'categoria_productos' categoria.id %}">
                                                    {{ categoria.nombre }}
                                                </a>
                                            </li>
                                            {% empty %}
                                                <li>
                                                    <span class="dropdown-item">
                                                        No hay categorías
                                                    </span>
                                                </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#Nuestras-Promociones">
                                        Promociones
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#Nuestras-Recetas">
                                        Recetas
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="{% url 'contacto' %}">
                                        Contacto
                                    </a>
                                </li>
                            </ul>
                            <div class="shop-icon">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-shield-heart">

                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'ver_carrito' %}" class="position-relative">
                                            <i class="fa-solid fa-cart-shopping">

                                            </i>
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cart-count" 
                                                {% if not request.session.cart_items_count or request.session.cart_items_count == 0 %}style="display: none;"{% endif %}>
                                                {{ request.session.cart_items_count|default:0 }}
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>


            <!-- Barra de busqueda-->
            <section class="search-section py-3">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <form action="{% url 'buscar' %}" method="get" class="d-flex">
                                <input type="text" name="q" placeholder="¿Qué estás buscando?" class="form-control-1 me-2 search-input" value="{{ request.GET.q }}">
                                <button type="submit" class="btn search-btn">
                                    <div class="search-icon-1">
                                        <i class="fa-solid fa-magnifying-glass">
                                            
                                        </i>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Contenido principal Banner-->
            <section class="hero-sec">
                <div class="snow-container">
                    <div>
                        <svg class="snowflake" viewBox="0 0 24 24">
                            <path path fill="white" d="M12 2L13 8H17L14 10L15 16L12 14L9 16L10 10L7 8H11L12 2Z" />
                        </svg>
                    </div>
                </div>
                <div class="hero-slider">
                    <div class="slides">
                        <div class="overlay-images">
                            <div id="mansory-slide-1"
                             data-img1="{% static 'tienda/img/Accesorios-mascotas.webp' %}"
                             data-img2="{% static 'tienda/img/Tecnologia-hogar-1.jpg' %}"
                             data-img3="{%static 'tienda/img/Accesorios-moda-1.jpg' %}"
                             data-img4="{% static 'tienda/img/Ethan.jpeg' %}"
                             data-img5="{% static 'tienda/img/Accesorios-moda-2.jpg' %}"
                             data-img6="{% static 'tienda/img/Pookie.jpeg' %}"
                             data-img7="{% static 'tienda/img/Tecnologia-1.jpg' %}"
                             data-img8="{% static 'tienda/img/Dropi.jpg' %}"
                             data-img9="{% static 'tienda/img/Ropa-Deportiva.jpg' %}"
                             data-img10="{% static 'tienda/img/Perfumes.jpg' %}">
                            </div>
                        </div> 
                        
                        <div id="texttype-slide-1"></div>
                        
                        <div class="container">
                            <div class="slider-content">
                                <h6></h6>
                                <h2 class="titulo-principal"></h2>
                                <p class="p-principal"></p>
                                <h2 class="titulo-secundario"></h2>
                                    <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="slides-1">
                        <div class="overlay-images">
                            <img src="{% static 'tienda/img/mitad-bodega-1.webp' %}" alt="mitad-bodega-1" class="mitad-bodega-1" loading="lazy">
                            <img src="{% static 'tienda/img/mitad-bodega-1.webp' %}" alt="mitad-bodega-2" class="mitad-bodega-2" loading="lazy">
                            <img src="{% static 'tienda/img/uvas.webp' %}" alt="uvas" class="uvas" fetchpriority="high">
                            <img src="{% static 'tienda/img/uvas.webp' %}" alt="uvas" class="uvas" fetchpriority="high">
                            <img src="{% static 'tienda/img/vino.webp' %}" alt="vino" class="vino" fetchpriority="high">
                            <img src="{% static 'tienda/img/copa-4.webp' %}" alt="copa-4" class="copa-4" loading="lazy">
                            <img src="{% static 'tienda/img/copa-2.webp' %}" alt="copa-2" class="copa-2" loading="lazy">
                            <img src="{% static 'tienda/img/copa-1.webp' %}" alt="copa-1" class="copa-1" loading="lazy">
                        </div>
                        <div class="container">
                            <div class="slider-content">
                                <h6 class="titulo-principal">
                                    Tradición y Pasión
                                </h6>
                                <h2 class="titulo-secundario">
                                    Vinos Artesanales Colombianos
                                </h2>
                                <p class="frase">
                                    sabores auténticos de nuestra tierra.
                                </p>
                                <a href="{% url 'categoria_productos' categoria_id=5 %}" class="btn">
                                    Descubrir Colección
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="slides-2">
                        <div class="overlay-images">
                            <img src="{% static 'tienda/img/humo.webp' %}" alt="humo-1" class="humo-1" loading="lazy">
                            <img src="{% static 'tienda/img/humo.webp' %}" alt="humo-2" class="humo-2" loading="lazy">
                            <img src="{% static 'tienda/img/humo.webp' %}" alt="humo-3" class="humo-3" loading="lazy">
                            <img src="{% static 'tienda/img/humo-2.webp' %}" alt="humo-4" class="humo-4" fetchpriority="high">
                            <img src="{% static 'tienda/img/humo.webp' %}" alt="humo-5" class="humo-5" loading="lazy">
                            <img src="{% static 'tienda/img/humo.webp' %}" alt="humo-6" class="humo-6" loading="lazy">
                            <img src="{% static 'tienda/img/humo.webp' %}" alt="humo-7" class="humo-7" loading="lazy">
                            <img src="{% static 'tienda/img/humo.webp' %}" alt="humo-8" class="humo-8" loading="lazy">
                            <img src="{% static 'tienda/img/whisky.webp' %}" alt="Whisky" class="whisky" loading="lazy">
                            <img src="{% static 'tienda/img/ron.webp' %}" alt="ron" class="ron" loading="lazy">
                            <img src="{% static 'tienda/img/aguardiente.webp' %}" alt="Aguardiente" class="aguardiente" fetchpriority="high">
                            <img src="{% static 'tienda/img/luz.webp' %}" alt="luz" class="luz" fetchpriority="high">
                        </div>
                        <div class="container">
                            <div class="slider-content">
                                <h6 class="titulo-principal">
                                    Frío. Intenso. Único.
                                </h6>
                                <h2 class="titulo-secundario">
                                    Licores que elevan la experiencia más allá del sabor.
                                </h2>
                                <a href="{% url 'categoria_productos' categoria_id=9 %}" class="btn">
                                    Descúbrelo
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="slides-3">
                        <div class="overlay-images">
                            <img src="{% static 'tienda/img/hojas-1.webp' %}" alt="hojas-1" class="hojas-1" fetchpriority="high">
                            <img src="{% static 'tienda/img/hojas.webp' %}" alt="hojas" class="hojas" loading="lazy">
                            <img src="{% static 'tienda/img/recetas-1.webp' %}" alt="recetas-1" class="recetas-1" fetchpriority="high">
                        </div>
                        <div class="container">
                            <div class="slider-content">
                                <h1 class="titulo-principal">
                                    Cocteles
                                </h1>
                                <svg class="frase-1" viewBox="0 0 500 200" width="500" height="200">
                                    <path id="curva" d="M 50,50 A 150,100 0 0 0 350,50" fill="transparent"/>
                                    <text>
                                        <textPath href="#curva" startOffset="50%" text-anchor="middle" fill="white" font-size="40">
                                            Tentación
                                        </textPath>
                                    </text>
                                </svg>
                                <svg class="frase-2" viewBox="0 -40 500 140" width="500" height="100">
                                    <path id="curvaTest" d="M 50,80 Q 250,-60 450,80" fill="transparent" stroke="transparent"/>
                                    <text fill="white" font-size="50">
                                        <textPath href="#curvaTest" startOffset="50%" text-anchor="middle" dominant-baseline="middle">
                                            Sensación
                                        </textPath>
                                    </text>
                                </svg>
                                <svg class="frase-3" viewBox="0 0 500 200" width="500" height="200">
                                    <path id="curva" d="M 50,50 A 150,100 0 0 0 350,50" fill="transparent"/>
                                    <text>
                                        <textPath href="#curva" startOffset="50%" text-anchor="middle" fill="white" font-size="40">
                                            Fusión
                                        </textPath>
                                    </text>
                                </svg>
                                <svg class="frase-4" viewBox="0 -40 500 140" width="500" height="100">
                                    <path id="curvaTest" d="M 50,80 Q 250,-60 450,80" fill="transparent" stroke="transparent"/>
                                    <text fill="white" font-size="50">
                                        <textPath href="#curvaTest" startOffset="50%" text-anchor="middle" dominant-baseline="middle">
                                            Encanto
                                        </textPath>
                                    </text>
                                </svg>
                                <svg class="frase-5" viewBox="0 0 500 200" width="500" height="200">
                                    <path id="curva" d="M 50,50 A 150,100 0 0 0 350,50" fill="transparent"/>
                                    <text>
                                        <textPath href="#curva" startOffset="50%" text-anchor="middle" fill="white" font-size="40">
                                            Instinto
                                        </textPath>
                                    </text>
                                </svg>
                                <a href="#" class="btn">
                                    Ver Recetas
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Categorias-->
            <section id="Nuestras-Categorías" class="slider-products pt-6 pb-6">
                <div class="container">
                    <div class="text-center">
                        <h6>Nuestras Categorías</h6>
                        <h2>Explora Nuestra Variedad de Licores</h2>
                    </div>
                    <div class="slider-category">
                        <div class="slides-cat">
                            <a href="{% url 'categoria_productos' categoria_id=2 %}">
                                <img src="{% static 'tienda/img/poker-botella.webp' %}" alt="poker-botella" class="poker-botella" width="190" height="190" loading="lazy">
                                <div class="cat-text">Cervezas <br> comerciales</div>
                            </a>
                        </div>
                        <div class="slides-cat">
                            <a href="{% url 'categoria_productos' categoria_id=3 %}">
                                <img src="{% static 'tienda/img/cerveza-artesanal.webp' %}" alt="cerveza-artesanal" class="cerveza-artesanal" width="189" height="190" loading="lazy">
                                <div class="cat-text">Cervezas <br> Artesanales</div>
                            </a>
                        </div>
                        <div class="slides-cat">
                            <a href="{% url 'categoria_productos' categoria_id=4 %}">
                                <img src="{% static 'tienda/img/vino-comercial.webp' %}" alt="vino-comercial" class="vino-comercial" width="190" height="190" loading="lazy">
                                <div class="cat-text">Vinos <br> Comerciales</div>
                            </a>
                        </div>
                        <div class="slides-cat">
                            <a href="{% url 'categoria_productos' categoria_id=5 %}">
                                <img src="{% static 'tienda/img/vino-artesanal.webp' %}" alt="vino-artesanal" class="vino-artesanal" width="46" height="190" loading="lazy">
                                <div class="cat-text">Vinos <br> Artesanales</div>
                            </a>
                        </div>
                        <div class="slides-cat">
                            <a href="{% url 'categoria_productos' categoria_id=9 %}">
                                <img src="{% static 'tienda/img/aguardiente.webp' %}" alt="aguardiente" class="aguardiente" width="190" height="190" loading="lazy">
                                <div class="cat-text">Aguardiente</div>
                            </a>
                        </div>
                        <div class="slides-cat">
                            <a href="{% url 'categoria_productos' categoria_id=10 %}">
                                <img src="{% static 'tienda/img/ron.webp' %}" alt="ron" class="ron" width="190" height="190" loading="lazy">
                                <div class="cat-text">Rón</div>
                            </a>
                        </div>
                        <div class="slides-cat">
                            <a href="{% url 'categoria_productos' categoria_id=11 %}">
                                <img src="{% static 'tienda/img/whisky.webp' %}" alt="whisky" class="whisky" width="148" height="190" loading="lazy">
                                <div class="cat-text">Whisky</div>
                            </a>
                        </div>
                        <div class="slides-cat">
                            <a href="{% url 'categoria_productos' categoria_id=8 %}">
                                <img src="{% static 'tienda/img/sangría-1.webp' %}" alt="sangría-1" class="sangría-1" width="148" height="190" loading="lazy">
                                <div class="cat-text">Sangría</div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Productos-->
            <section class="pt-6 pb-6">
                <div class="container">
                    <div class="tittle text-center">
                        <h6>Productos Exclusivos</h6>
                        <h2><span>Vinos Artesanales</span></h2>
                    </div>
                    <div class="row mt-5">
                        {% for producto in productos %}
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="pr-img">
                                    <a href="{% url 'detalle_productos' producto_id=producto.id %}">
                                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="Vino-Tinto-Dulce-750mL-Maria-Eloisa-solera" class="card-img-top">
                                    </a>
                                </div>
                                <div class="pr-icon">
                                    <div class="pr-text">
                                        <h3>{{ producto.nombre }}</h3>
                                        <p>$ {{ producto.precio|floatformat:0}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <!-- Promociones-->
            <section id="Nuestras-Promociones" class="slider-products pt-6 pb-6">
                <div class="container">
                    <div class="tittle text-center">
                        <h6 class="descuento">Descuentos en Licores</h6>
                        <h2 class="especiales"><span>¿Buscas precios realmente especiales?</span></h2>
                    </div>
                    <div class="slider-category">
                        {% for producto in productos_promocion %}
                        <div>
                            <div class="product-box-1">
                                <div class="pr-img-1 d-flex align-items-center justify-content-center">
                                    <a href="{% url 'detalle_productos' producto_id=producto.id %}">
                                        {% if producto.imagen %}
                                        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid" style="max-height: 200px; width: auto;">
                                        {% else %}
                                        <img src="{% static 'tienda/img/Vino-de-Mora-Alto-Cielo-750ml.png' %}" alt="Vino-de-Mora-Alto-Cielo-750ml" class="Vino-de-Mora-Alto-Cielo-750ml">
                                        {% endif %}
                                    </a>
                                </div>
                                <div>
                                    <div class="pr-text p-3 text-center">
                                        <h3>{{ producto.nombre }}</h3>
                                        {% if producto.precio_promocional %}
                                        <del>$ {{ producto.precio_excesivo|floatformat:0 }}</del>
                                        <p>$ {{ producto.precio_promocional|floatformat:0 }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>   
                </div>
            </section>

            <!-- Recetas img-->
            <section id="Nuestras-Recetas" class="image-cta-sec py-4">
                <div class="container">
                    <a href="#" class="cta-recipe-link">
                        <img src="{% static 'tienda/img/Recetas.webp' %}" alt="Explora la Mixología" class="cta-recipe-image" width="590" height="100" loading="lazy">
                    </a>
                </div>
            </section>

            <!-- Recetas-->
            <section class="recipe-promo-sec">
                <div class="container">
                    <div class="recipe-hero">
                        <div class="row align-items-center">
                            <div class="col-md-4 text-center">
                                <img src="{% static 'tienda/img/coctel.webp' %}" alt="Recetas" class="recipe-image-float img-fluid" width="200" height="200" loading="lazy">
                            </div>
                            <div class="col-md-5 text-center">
                                <h2 class="recipe-title">RECETAS DE CÓCTELES</h2>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="#" class="btn recipe-button-animate">Explorar Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Horarios -->
            <section class="delivery-moto-sec pt-4 pb-1">
                <div class="container">
                    <div class="row">
                        <div class="col-auto text-center">
                            <img src="{% static 'tienda/img/moto.webp' %}" alt="Moto de Reparto de Licores" class="img-fluid delivery-moto-image" width="200" height="200" loading="lazy">
                            <h2 class="delivery-city-title">Horarios Cali</h2>
                        </div>
                        <div class="col-auto">
                            <div class="schedule-box p-3 rounded-3">
                                <h3 class="text-center schedule-title mb-3">Abierto: Lunes a Domingo</h3>

                                <ul class="list-unstyled schedule-list small">
                                    <li>
                                        <span class="day fw-bold text-nowrap d-flex align-items-center">
                                            <i class="fa-solid fa-clock fa-2x me-3"></i>
                                            <span class="text-start">Pedidos 24/7 <br> (Pagina web)</span>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="day fw-bold text-nowrap d-flex align-items-center">
                                            <i class="fa-solid fa-bag-shopping fa-2x me-3"></i>
                                            <span class="text-start">Entrega directa <br> a Domicilio</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Licores a Domicilio -->
            <hr>
            <section class="licores-domicilio-sec mt-4 text-center">
                <div class="container">
                    <h6 class="licores-title mb-2">Licores a Domicilio</h6>
                    <h2 class="licores-title mb-4">Nueva experiencia del Licor en Cali, Colombia</h2>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <p>
                                En <strong>nuestra licorería digital</strong> queremos que disfrutes tus bebidas como debe
                                ser:
                                totalmente frías, listas para compartir y llegar directo a tu puerta.
                                ¡Pide en cualquier momento y recibe la experiencia más refrescante de Cali! <br><br>
                                También puedes aprender recetas para la elaboración de cócteles con todo tipo de licor;
                                además de adquirir productos e ingredientes a domicilio en Cali.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <hr>

            <!-- WhatsApp Bubble -->
            <!-- Reemplaza '1234567890' con tu número de teléfono con el código de país. -->
            <!-- Reemplaza 'Hola!%20Me%20interesa%20un%20producto%20de%20su%20página.' con el mensaje que quieras. -->
            <a href="https://wa.me/1234567890?text=Hola!%20Me%20interesa%20un%20producto%20de%20su%20página."
                class="whatsapp-bubble" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>

            <!-- Footer -->
            <footer class="text-white pt-5 pb-4">
                <div class="container text-center text-md-start">
                    <div class="row text-center text-md-start">

                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
                                <a class="text-decoration-none text-white" href="#">
                                    <img src="{% static 'tienda/img/logo.png' %}" alt="Vikinga" class="logo">
                                    Valhalla
                                </a>
                            </h5>
                            <p>Licores y Sabores unicos</p>
                        </div>

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold text-white">Enlaces</h5>
                            <p>
                                <a href="#Nuestras-Categorías" class="text-white">Categorías</a>
                            </p>
                            <p>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'categoria_productos' categoria_id=2 %}">Cervezas Comerciales</a></li>
                                        <li><a class="dropdown-item" href="{% url 'categoria_productos' categoria_id=3 %}">Cervezas Artesanles</a></li>
                                        <li><a class="dropdown-item" href="{% url 'categoria_productos' categoria_id=4 %}">Vinos Comerciales</a></li>
                                        <li><a class="dropdown-item" href="{% url 'categoria_productos' categoria_id=5 %}">Vinos Artesanales</a></li>
                                        <li><a class="dropdown-item" href="{% url 'categoria_productos' categoria_id=9 %}">Aguardiente</a></li>
                                        <li><a class="dropdown-item" href="{% url 'categoria_productos' categoria_id=10 %}">Ron</a></li>
                                        <li><a class="dropdown-item" href="{% url 'categoria_productos' categoria_id=11 %}">Whisky</a></li>
                                        <li><a class="dropdown-item" href="{% url 'categoria_productos' categoria_id=8 %}">Sangría</a></li>
                                    </ul>
                                </li>
                            </p>
                            <p>
                                <a href="#" class="text-white">Recetas</a>
                            </p>
                            <p>
                                <a href="#Nuestras-Promociones" class="text-white">Promociones</a>
                            </p>
                            <p>
                                <a href="{% url 'contacto' %}" class="text-white">Contacto</a>
                            </p>
                        </div>

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold text-white">Contacto</h5>
                            <p class="text-nowrap">
                                <i class="fas fa-home me-3"></i> Calle 61 Norte #2FN - 88, Cali, Colombia
                            </p>
                            <p class="text-nowrap">
                                <i class="fas fa-envelope me-3"></i> sebastianarangoquiroga@gmail.com
                            </p>
                            <p>
                                <i class="fas fa-phone me-3"></i> 300 379 9997 - 311 611 2595
                            </p>
                            <p class="text-nowrap">
                                <i class="fab fa-whatsapp fa-lg me-3"></i> +57 300 379 9997 - +57 311 611 2595</a>
                            </p>
                        </div>

                        <hr class="mb-4 mt-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-7 col-lg-8">
                                <p class="text-center text-md-start">© 2025 Valhalla | Todos los derechos reservados</p>
                            </div>
                            <div class="col-md-5 col-lg-4">
                                <div class="text-center text-md-end">
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item">
                                            <a href="#" class="btn-floating btn-sm text-white">
                                                <i class="fab fa-facebook-f fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn-floating btn-sm text-white">
                                                <i class="fab fa-instagram fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn-floating btn-sm text-white">
                                                <i class="fab fa-linkedin-in fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn-floating btn-sm text-white">
                                                <i class="fab fa-github fa-lg"></i>
                                            </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 text-center">
                                <a href="{% url 'terminos_y_condiciones' %}" class="text-white me-3 text-decoration-underline">Términos y Condiciones</a>
                                <a href="{% url 'politica_de_privacidad' %}" class="text-white me-3 text-decoration-underline">Política de Privacidad</a>
                                <a href="{% url 'politica_de_cookies' %}" class="text-white text-decoration-underline">Política de Cookies</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 col-sm-6 mx-auto text-center">
                                <p class="m-0 small">El exceso de alcohol es perjudicial para la salud. ley 30 de 1986.
                                    Prohibase el expendio de bebidas embriagantes a menores de edad y mujeres embarazadas.
                                    Ley 124 de 1994</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!--script de quey-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>

        <!--script de bootstraps-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" defer></script>

        <!--script de slick-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>

        <!--script de simpleParallax-->
        <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.6.2/dist/simpleParallax.min.js" defer></script>

        <!--script local js-->
        <script src="{% static 'tienda/local.js' %}" defer></script>

        <!--script de vite-->
        <!-- En produccion se necesita algo mas, Vite genera archivos con hashes como main-a3f9b2.js y Django necesita saber cómo encontrarlos. NO OLVIDAR-->
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/frontend/src/main.jsx"></script>

        

    </body>

</html>