/* Estilo del banner (slide) */
.hero-sec {
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.hero-slider .slides,
.hero-slider .slides-1,
.hero-slider .slides-2,
.hero-slider .slides-3,
.hero-slider .slides-4
 {
    background-size: cover;
    background-position: center;
    padding: 180px 0;
    color: white;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.slider-content {
    max-width: 600px;
    text-align: left;
    padding: 5px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3;
}

.hero-slider img {
    position: absolute;
    z-index: 1;
}

.overlay-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.overlay-images img {
    position: absolute;
}

.btn {
    padding: 10px 25px;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px 5px var(--primary-color);
    color: var(--primary-color);
    transition: 0.5s;
}

/* slide dinamico 1 */

/* Logo Exum */
.banner-image-1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
}
/* blackmen */
.banner-image-2 {
    position: absolute;
    top: 0%;
    left: -10%;
    z-index: 1;
    width: 60%;
    height: auto;
}

/* girlwhite */
.banner-image-3 {
    position: absolute;
    top: 8%;
    right: -5%;
    z-index: 1;
    width: 100%;
    height: auto;
}

.slides-4 .slider-content {
    position: relative;
    height: 600px;
}

.slides-4 .slider-content .titulo-principal {
    position: absolute;
    top: -15%;
    left: 45%;
    white-space: nowrap;
}

.slides-4 .slider-content .p-principal {
    position: absolute;
    top: 30%;
    left: 68%;
    white-space: nowrap;
}

.slides-4 .slider-content .btn {
    position: absolute;
    top: 38%;
    left: 83%;
    white-space: nowrap;
}


/* slide 1 */
.overlay-images .ice:nth-child(1)

/*hielo-4*/
    {
    bottom: 0;
    left: 0;
}

.overlay-images .ice:nth-child(2)

/*hielo-4*/
    {
    top: 0%;
    left: 930px;
    transform: rotate(180deg);
}

.overlay-images .ice:nth-child(3)

/*hielo-3*/
    {
    height: 60%;
    top: 0%;
    left: 900px;
    transform: rotate(180deg);
}

.overlay-images .ice:nth-child(4)

/*hielo-3*/
    {
    height: 60%;
    bottom: 0;
    left: 0;
}

.overlay-images .glass

/* cristal*/
    {
    height: 90%;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%) translateY(40px);
}

/* Animación de la lata de tecate */
@keyframes tecateIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(80px) translateZ(50px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(150px) translateZ(50px) scale(1);
    }
}

@keyframes tecateFloat {

    0%,
    100% {
        transform: translate(-50%, -50%) translateY(150px) translateZ(50px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(140px) translateZ(60px);
    }
}

@keyframes tecatebrightness {

    0%,
    100% {
        filter: brightness(1) contrast(1);
    }

    50% {
        filter: brightness(1.0) contrast(1.2);
    }
}

.overlay-images .tecate

/*tecate*/
    {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translatey(150px);
    z-index: 3;
    animation: tecateIn 2s ease-out forwards, tecateFloat 3s ease-in-out infinite, tecatebrightness 3s ease-in-out infinite;
}

/* Animación  botella de corona */
@keyframes coronaIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(80px) translateZ(50px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(150px) translateZ(50px) scale(1);
    }
}

@keyframes coronaFloat {

    0%,
    100% {
        transform: translate(-50%, -50%) translateY(50px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(60px);
    }
}

@keyframes coronabrightness {

    0%,
    100% {
        filter: brightness(1) contrast(1);
    }

    50% {
        filter: brightness(1.0) contrast(1.2);
    }
}

.overlay-images .corona

/*corona*/
    {
    height: 80%;
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%) translatey(50px);
    z-index: 2;
    animation: coronaIn 2s ease-out forwards, coronaFloat 3s ease-in-out infinite, coronabrightness 3s ease-in-out infinite;
}

/* Animación  lata poker*/
@keyframes pokerIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(80px) translateZ(50px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(150px) translateZ(50px) scale(1);
    }
}

@keyframes pokerFloat {

    0%,
    100% {
        transform: translate(-50%, -50%) translateY(140px);
    }

    50% {
        transform: translate(-50%, -50%) translateY(150px);
    }
}

@keyframes pokerbrightness {

    0%,
    100% {
        filter: brightness(1) contrast(1);
    }

    50% {
        filter: brightness(1.0) contrast(1.2);
    }
}

.overlay-images .poker-lata

/*poker-lata*/
    {
    height: 46%;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%) translatey(140px);
    z-index: 2;
    animation: pokerIn 2s ease-out forwards, pokerFloat 3s ease-in-out infinite, pokerbrightness 3s ease-in-out infinite;
}

.overlay-images .ice:nth-child(9)

/*hielo*/
    {
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(50px);
}

.slides .slider-content {
    position: relative;
    height: 600px;
}

.slides .slider-content h6 {
    position: absolute;
    top: -15%;
    left: 10%;
}

.titulo-principal {
    position: absolute;
    top: -12%;
    left: -15%;
}

.p-principal {
    position: absolute;
    top: -5%;
    left: -10%;
}

.titulo-secundario {
    position: absolute;
    top: 35%;
    left: 140%;
    white-space: nowrap;
}

.slides .slider-content p {
    white-space: normal;
    text-align: center;
    font-weight: normal;
}

.slides .slider-content .btn {
    position: absolute;
    left: 29%;
}

/* slide 2 */
.slides-1 .overlay-images .mitad-bodega-1

/* mitad-Bodega-1*/
    {
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    filter: blur(3px);
}

.slides-1 .overlay-images .mitad-bodega-2

/* mitad-Bodega-2*/
    {
    height: 100%;
    position: absolute;
    top: 0%;
    left: 71%;
    transform: scaleX(-1);
    filter: blur(3px);
}

.slides-1 .overlay-images .uvas:nth-child(3)

/* uvas*/
    {
    height: 59%;
    position: absolute;
    left: 0%;
    transform: rotate(0deg);
    filter: blur(1px);
}

.slides-1 .overlay-images .uvas:nth-child(4)

/* uvas*/
    {
    height: 59%;
    position: absolute;
    left: 49.6%;
    top: 0%;
    transform: rotate(0deg) scaleX(-1);
    filter: blur(1px);
}

/* Animación Botella de Vino */
@keyframes wineIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(100%) translateX(50%) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(50%) translateY(42%) scale(1);
    }
}

@keyframes wineLight {

    0%,
    100% {
        filter: brightness(1) contrast(1);
    }

    50% {
        filter: brightness(1.2) contrast(1.1);
    }
}

.slides-1 .overlay-images .vino

/* vino*/
    {
    height: 110%;
    position: absolute;
    top: -8%;
    left: 34%;
    animation: wineIn 2s ease-out forwards, wineLight 6s ease-in-out infinite;
}

/* Animación copa-4 */
@keyframes glassShine {

    0%,
    100% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2) saturate(1.2);
    }
}

.slides-1 .overlay-images .copa-4

/* copa-4*/
    {
    height: 70%;
    position: absolute;
    top: 42%;
    left: 49%;
    animation: glassShine 6s ease-in-out infinite;
}

/* Animación copa-2 */
@keyframes glassShine {

    0%,
    100% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2) saturate(1.2);
    }
}

.slides-1 .overlay-images .copa-2

/* copa-2*/
    {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    animation: glassShine 6s ease-in-out infinite;
}

/* Animación copa-1 */
@keyframes glassShine {

    0%,
    100% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2) saturate(1.2);
    }
}

.slides-1 .overlay-images .copa-1

/* copa-1*/
    {
    height: 50%;
    position: absolute;
    top: 40%;
    left: 70.2%;
    transform: scaleX(-1);
    animation: glassShine 6s ease-in-out infinite;
}

.slides-1 .slider-content {
    position: relative;
    height: 600px;
}

.slides-1 .slider-content .titulo-principal {
    position: absolute;
    top: -30%;
    left: 87%;
    white-space: nowrap;
}

.slides-1 .slider-content .titulo-secundario {
    position: absolute;
    top: -28%;
    left: 55%;
}

.slides-1 .slider-content p {
    position: absolute;
    top: 54%;
    left: 72%;
    color: white;
    white-space: nowrap;
}

.slides-1 .slider-content .btn {
    position: absolute;
    top: 59%;
    left: 81%;
    white-space: nowrap;
}

/* slide 3 */

/* Animación de humo */
@keyframes moveSmoke-1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-40%);
    }
}

/* humo-1*/
.slides-2 .overlay-images .humo-1 {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 200%;
    opacity: 0.25;
    animation: moveSmoke-1 30s linear infinite;
    filter: blur(4px);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    z-index: 2;
}

/* humo-2*/
@keyframes moveSmoke-2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(40%);
    }
}

.slides-2 .overlay-images .humo-2 {
    position: absolute;
    top: 0;
    left: 5%;
    height: 100%;
    width: 200%;
    opacity: 0.25;
    animation: moveSmoke-2 30s linear infinite;
    filter: blur(4px);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    z-index: 2;
}

/*humo-3*/
.slides-2 .overlay-images .humo-3 {
    position: absolute;
    top: 0;
    left: 3%;
    height: 100%;
    width: 200%;
    opacity: 0.25;
    filter: blur(4px);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
    z-index: 2;
}

/* humo-4*/
.slides-2 .overlay-images .humo-4 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transform: translateX(3%);
    filter: blur(3px);
    mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
    -webkit-mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
}

/* humo-5*/
.slides-2 .overlay-images .humo-5 {
    position: absolute;
    top: 35%;
    right: -7.5%;
    height: 50%;
    opacity: 0.25;
    filter: blur(4px);
    rotate: -90deg;
    mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
    -webkit-mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
}

/* Animación humo-6 */
@keyframes moveSmoke-6 {
    from {
        transform: translate(0);
    }

    to {
        transform: translateX(40%);
    }
}

/* humo-6*/
.slides-2 .overlay-images .humo-6 {
    position: absolute;
    top: 35%;
    right: -7.5%;
    height: 50%;
    opacity: 0.25;
    filter: blur(4px);
    rotate: -90deg;
    animation: moveSmoke-6 30s linear infinite;
    mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
    -webkit-mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
}

/* humo-7*/
.slides-2 .overlay-images .humo-7 {
    position: absolute;
    top: 40%;
    left: -7.5%;
    height: 50%;
    opacity: 0.25;
    filter: blur(4px);
    rotate: 90deg;
    mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
    -webkit-mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);

}

/* Animación humo-8 */
@keyframes moveSmoke-8 {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-40%);
    }
}

/* humo-8*/
.slides-2 .overlay-images .humo-8 {
    position: absolute;
    top: 40%;
    left: -7.5%;
    height: 50%;
    opacity: 0.25;
    filter: blur(4px);
    rotate: 90deg;
    animation: moveSmoke-8 30s linear infinite;
    mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
    -webkit-mask-image: linear-gradient(90deg,
            transparent 0%,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 1) 80%,
            transparent 100%);
}

/* Whisky */
.slides-2 .overlay-images .whisky {
    height: 75%;
    position: absolute;
    top: 58%;
    left: 56%;
    transform: translate(-50%, -50%);
}

/* Aguardiente */
.slides-2 .overlay-images .aguardiente {
    height: 80%;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Ron */
.slides-2 .overlay-images .ron {
    height: 65%;
    position: absolute;
    top: 58%;
    left: 43%;
    transform: translate(-50%, -50%);
}

/* Luz */
.slides-2 .overlay-images .luz {
    height: 100%;
    position: absolute;
    top: 0%;
    left: 20%;
    opacity: 0.3;
}

.slides-2 .slider-content {
    position: relative;
    height: 600px;
}

.slides-2 .slider-content .titulo-principal {
    position: absolute;
    top: -28%;
    left: 87%;
    white-space: nowrap;
}

.slides-2 .slider-content .titulo-secundario {
    position: absolute;
    top: -25%;
    left: 25%;
}

.slides-2 .slider-content .btn {
    position: absolute;
    top: 59%;
    left: 88%;
    white-space: nowrap;
}

/* slide 4 */

.slides-3 .overlay-images .hojas-1 {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0%;
    right: 0%;
    filter: blur(3px);
}

.slides-3 .overlay-images .hojas {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0%;
    left: 10%;
    z-index: 2;
}

.slides-3 .overlay-images .recetas-1 {
    position: absolute;
    width: 150%;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.slides-3 .slider-content .titulo-principal {
    position: absolute;
    top: -100px;
    left: 0%;
    font-size: 6rem;
}

.slides-3 .slider-content .btn {
    position: absolute;
    top: 200px;
    right: -400px
}

.slides-3 .slider-content .frase-1 {
    position: absolute;
    top: 160px;
    left: 120px;
    transform: translateX(-50%);
}

.slides-3 .slider-content .frase-2 {
    position: absolute;
    top: 90px;
    left: 385px;
    transform: translate(-50%, -50%);
}

.slides-3 .slider-content .frase-3 {
    position: absolute;
    top: 180px;
    left: 680px;
    transform: translate(-50%, -50%);
}

.slides-3 .slider-content .frase-4 {
    position: absolute;
    top: -115px;
    right: -70px;
    transform: translate(100%);
}

.slides-3 .slider-content .frase-5 {
    position: absolute;
    top: 230px;
    right: -70px;
    transform: translate(160%);
}

/* Animación de nieve*/

.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
}

.snowflake {
    position: absolute;
    top: -10%;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    animation: fall linear infinite;
    will-change: transform, opacity;
}

@keyframes fall {
    0% {
        transform: translateX(0) translateY(-10vh) rotate(0deg);
    }

    50% {
        transform: translateX(20px) translateY(50vh) rotate(180deg);
    }

    100% {
        transform: translateX(-20px) translateY(110vh) rotate(360deg);
        opacity: 0.5;
    }
}

/* --Responsive-- */
@media (max-width: 768px) {

    .slides img {
        display: none !important;
    }

    .slider-content {
        display: none !important;
    }

    .hero-slider .slides,
    .hero-slider .slides-1,
    .hero-slider .slides-2,
    .hero-slider .slides-3 {
        background-size: cover;
        background-position: center;
        color: white;
        position: relative;
        overflow: hidden;
        height: 450px !important; 
        padding: 20px 0 !important;
    }

    .overlay-images img {
        position: absolute;
    }

    .hero-slider img {
        position: absolute;
        z-index: 1;
    }

    .overlay-images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    /* Slide 1 */

    .overlay-images .glass
    /* cristal*/
        {
        display: block !important;
        height: 70% !important;
        position: absolute !important;
        top: 51% !important;
        left: 49% !important;
        transform: translate(-50%, -50%) translateY(40px) !important;
    }

    .overlay-images .ice:nth-child(9)
    /*hielo*/
        {
        display: block !important;
        height: 70% !important;
        position: absolute !important;
        top: 50% !important;
        left: 50%  !important;
        transform: translate(-50%, -50%) translateY(50px) !important;
    }  

    .overlay-images .tecate
    /*tecate*/
        {
        display: block !important;
        height: 50% !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) translatey(100px)!important;
        z-index: 3 !important;
    }

    .overlay-images .corona
    /*corona*/
        {
        display: block !important;
        height: 73% !important;
        position: absolute !important;
        top: 50% !important;
        left: 68% !important;
        transform: translate(-50%, -50%) translatey(50px)!important;
        z-index: 2!important;
    }

    .overlay-images .poker-lata
    /*poker-lata*/
        {
        display: block !important;
        height: 46% !important;
        position: absolute !important;
        top: 42% !important;
        left: 30% !important;
        transform: translate(-50%, -50%) translatey(140px) !important;
        z-index: 2 !important;
    }

    .slides .slider-content {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        position: relative !important;
        height: auto !important;
        margin: 0 auto !important; 
        text-align: center !important;
        padding-top: 0px !important; 
        justify-content: flex-start !important;
        margin-top: -10px !important;
    }

    .slides .slider-content h6 {
        display: block !important;
        width: 100% !important;
        text-align: center !important;
        margin: 0px auto 0px auto !important;
        position: relative !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;
    }

    .titulo-principal {
        display: block !important;
        text-align: center !important;
        margin: 0 auto 0px auto !important;
        position: relative !important; 
        top: auto !important;
        left: auto !important;
        transform: none !important;
        white-space: nowrap !important;
    }

    .p-principal {
        display: block !important;
        width: 100% !important;
        max-width: 500px !important;
        text-align: center !important;
        margin: 0 auto !important;
        position: relative !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;
        padding: 0 20px !important; 
    }

    /* Slide 2 */

    .slides-1 img {
        display: none !important;
    }

    .slides-1 .slider-content p {
        display: none !important;
    }

    .slides-1 .slider-content .btn {
        display: none !important;
    }

    .slides-1 .overlay-images .uvas:nth-child(3)
    /* uvas*/
        {
        display: block !important;
        height: 50% !important;
        position: absolute !important;
        left: 0% !important;
        transform: rotate(0deg) !important;
        filter: blur(1px) !important;
    }

    .slides-1 .overlay-images .vino
    /* vino*/
        {
        display: block !important;
        height: 100% !important;
        position: absolute !important;
        top: 35% !important;
        left: 52% !important;
        transform: translate(-50%, -50%) !important;
    }

    .slides-1 .slider-content {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        position: relative !important;
        height: auto !important;
        margin: 0 auto !important; 
        text-align: center !important;
        padding-top: 0px !important; 
        justify-content: flex-start !important;
        margin-top: 325px !important;
    }

    .slides-1 .slider-content h6,
    .slides-1 .slider-content h2 {
        position: static !important;
        text-wrap: balance !important;
        transform: none !important;
        margin: 0;
        }

    /* slide 3 */

    .slides-2 img {
        display: none !important;
    }

    .slides-2 .slider-content .btn {
        display: none !important;
    }

    .slides-2 .overlay-images .humo-4 {
        display: block !important;
        position: absolute !important;
        top: 0% !important;
        left: 0% !important;
        height: 100% !important;
        transform: translateX(3%) !important;
        filter: blur(3px) !important;
    }

    .slides-2 .overlay-images .luz {
        display: block !important;
        position: absolute !important;
        top: 0% !important;
        left: 0% !important;
        height: 100% !important;
        filter: blur(3px) !important;
    }

    .slides-2 .overlay-images .aguardiente {
        display: block !important;
        position: absolute !important;
        height: 70% !important;
        top: 60% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    .slides-2 .slider-content {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        position: relative !important;
        height: auto !important;
        margin: 0 auto !important; 
        text-align: center !important;
        padding-top: 0px !important; 
        justify-content: flex-start !important;
        margin-top: -15px !important;
    }

    .slides-2 .slider-content h6,
    .slides-2 .slider-content h2 {
        position: static !important;
        text-wrap: balance !important;
        transform: none !important;
        margin: 0;
    }

    /* Slide 4 */

    .slides-3 img {
        display: none !important;
    }

    .slides-3 .slider-content svg {
        display: none !important;
    }

    .slides-3 .slider-content .btn {
        display: none !important;
    }

    .slides-3 .overlay-images .hojas-1 {
        /*hojas-1*/
        display: block !important;
        position: absolute !important;
        height: 80% !important;
        width: auto !important;
        top: 20% !important;
        right: 0% !important;
        filter: blur(3px) !important;
    }

    .slides-3 .overlay-images .recetas-1 {
        /* recetas-1*/
        display: block !important;
        position: absolute !important;
        width: 150% !important;
        height: auto !important;
        top: 37% !important;
        left: 50% !important;
        z-index: 1 !important;
   }

   .slides-3 .slider-content {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        position: relative !important;
        height: auto !important;
        margin: 0 auto !important; 
        text-align: center !important;
        padding-top: 0px !important; 
        justify-content: flex-start !important;
        margin-top: -15px !important;
    }

    .slides-3 .slider-content h1 {
        position: static !important;
        font-size: 4rem !important;
        transform: none !important;
        margin: 31px !important;
    }

     .slides-3 .slider-content .btn {
        display: block !important;
        position: static !important;
        margin-top: 191px !important;

    }

}
